html,
body {
  background-color: rgb(35, 201, 255);
}
#page-title {
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: fit-content;
  border: 3px solid black;
  background: rgb(255, 255, 255);
}
.page {
  width: auto;
  height: 100vh;
  z-index: 0;
  padding: 10px;
  position: relative;
  background-image: url("../../pictures/comic-background.png");
  background-size: cover;
}
.page::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 91, 160, 0.5);
}
#inputForm {
  margin: auto;
  width: fit-content;
  padding: 20px;
  border: 3px solid black;
  border-radius: 5px;
  background: rgb(35, 201, 255);
}
#inputForm label {
  font-size: 1.7;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000,
    0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, -1px 1px 0 #000000;
  margin: auto;
  color: white;
  display: block;
}
#inputForm input {
  border-radius: 5px;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  display: block;
}
#submitBtn {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 5px;
  background: #a7e6ff;
}
#submitBtn:hover {
  background: #55b5ff;
  color: aliceblue;
  border: 2px solid white;
}
