.prof-header {
  margin-top: 20px;
}
.postInput {
  margin-top: 50px;
}
.App-header {
  padding: 10px;
  background-color: rgb(35, 201, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
#loader {
  margin: auto;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
