.prof-header {
  margin-top: 20px;
}
.postInput {
  margin-top: 50px;
}
.App-header {
  z-index: 0;
  padding: 10px;
  position: relative;
  background-image: url("../../pictures/comic-background.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 91, 160, 0.5);
}
#loader {
  margin: auto;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
