img {
  grid-area: picture;
  border-radius: 7px;
  border: 2px solid black;
  margin: auto;
}
.name {
  font-size: 1.5rem;
  grid-area: name;
}
.motto {
  margin-top: 0;
  font-size: 1rem;
  grid-area: motto;
}
.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "picture name"
    "picture  motto";
}
.container {
  margin: auto;
  position: sticky;
  width: fit-content;
  padding: 5px;
  border-radius: 1%;
  background-color: rgb(102, 214, 255);
  border: 3px solid rgb(0, 0, 0);
  color: white;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000,
    0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, -1px 1px 0 #000000;
}
