#background {
  background-color: rgba(0, 0, 0, 0.7);
}

.m-top {
  display: grid;
  grid-template-areas:
    "msg msg"
    "home btns";
  justify-content: space-between;
  border-bottom: 3px solid black;
  border: 3px solid black;
  border-radius: 10px;
  background: rgba(255, 229, 29, 0.933);
  color: #23c9ff;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000,
    0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, -1px 1px 0 #000000;
}
.welcome-msg {
  padding: 0 1rem;
  grid-area: msg;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 2.5rem;
  margin-top: 10px;
}
.homepage {
  text-decoration: overline;
  padding: 0 1rem;
  grid-area: home;
  font-size: 2rem;
  margin-left: 25px;
  margin-top: 0;
  color: rgb(124, 198, 254);
}

button {
  grid-area: btns;
  margin: auto;
  display: inline-block;
  height: 40px;
  width: 100%;
  border: none;
  background: #96a701;
  color: white;
}
button:hover {
  background: rgb(191, 189, 128);
  color: black;
}
